

/* whole file parsed by https://autoprefixer.github.io/ */


/* https://stackoverflow.com/questions/33862855/materialize-footer-not-going-to-bottom-of-page */

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.3))), url('/static/images/1.jpg');
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('/static/images/1.jpg');
  background: -o-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('/static/images/1.jpg');
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('/static/images/1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}


/* SLIDER */


.slider {
  height: calc(100vh - 64px) !important;
}

.slides {
  height: calc(100vh - 64px) !important;
}


/* NAVBAR */


.nav-wrapper>ul>li:hover {
  background-color: orange;
}

nav ul li.active {
  background-color: #555555;
}

.margin-small-up {
  margin-top: -0.2rem;
}

.margin-up {
  margin-top: 1rem;
}

.margin-up-5 {
  margin-top: 5rem;
}

.margin-from-left {
  margin-left: 6rem;
}

.margin-from-left-2 {
  margin-left: 2rem;
}

.margin-from-left-1 {
  margin-left: 1rem;
}


/* Login,Register form, Recipes, Recipe Details */


.container-mainpage {
  width: 90%;
  max-width: 1880px;
}

.container-width350 {
  background: white;
  padding: 20px 25px;
  border: 2px solid rgba(175, 144, 233, 0.952);
  width: 350px;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.container-width750 {
  background: white;
  padding: 20px 25px;
  border: 2px solid rgba(175, 144, 233, 0.952);
  width: 750px;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.white-background {
  background: #fff;
  border-radius: 20px;
}

.gray-background {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 60% !important;
}

.chip-height-37 {
  height: 37px;
}

.line-height-40 {
  line-height: 40%;
}

.line-height-70 {
  line-height: 70%;
}

/* Add_recipe */
/* Profile */

.container-wide {
  background: white;
  border: 2px solid rgba(175, 144, 233, 0.952);
  padding: 20px 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}


/* Checkboxes */
/* View recipe */

/* https://www.jquery-az.com/5-styles-materialize-checkbox-custom-checkedunchecked/ */

[type="checkbox"].filled-in:checked+span:not(.lever):after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #5e0101;
  background-color: #fc0000;
  z-index: 0;
}

.border-white-1 {
  border:#cccccc solid 1px;
}

.video-player {
  width:853px;
  border:none;
}


/* Flashed messages */


#alerts {
  top: 95%;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  color: yellow;
}


/* Pagination  */
/* Search Template */


br.line-height-2, li.line-height-2 {
  line-height: 0.8;
}

.line-height-0 {
  line-height: 0;
}


/* Cards */


.padded {
  padding-left: 10px !important;
  padding-top: 10px !important;
  padding-right: 10px !important;
}

#upvotes {
  line-height: 18px;
  font-size: 0.8rem;
}

#upvotes_icon {
  line-height: 12px;
}

.btn-floating.halfway-fab {
  right: 3px !important;
  bottom: 3px !important;
}

.btn-floating {
  cursor: default;
}

.padding-5px {
  padding-left: 5px !important;
  padding-right: 5px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.cards .card .card-action {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.cards .card {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


/* Section */


.margin0 {
  margin: 0;
}

.tabs .indicator {
  background-color: #1a237e;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background: transparent;
}


/* Graphs */


.padding-bottom {
  padding-bottom: 20px !important;
}


/* Footer */


footer p {
  color: white;
}


/* Media queries */


@media (max-width: 992px) {
  .filterSearch {
    display: none;
  }
  #show {
    display: inline-block;
  }
  .container-mainpage {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .filterSearch {
    display: inline-block;
  }
  #show {
    display: none;
  }
}