/* https://stackoverflow.com/questions/33862855/materialize-footer-not-going-to-bottom-of-page */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* keep login and register in center */

main {
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://unsplash.it/1200/800/?random'); */
  /* background-fill-mode: rgba(0,0,0,0.5); */
  /* height: 100vh; */
  background: #ddd;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}

.margin-up {
  margin-top: 1rem;
}

.padded-from-left {
  padding-left: 2rem
}

/* Login and Register form */

.container-width550 {
  background: white;
  padding: 20px 25px;
  border: 5px solid rgba(175, 144, 233, 0.952);
  width: 550px;
  height: auto;
  box-sizing: border-box;
  position: relative;
}

.container-width550 {
  animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;
}

@keyframes showUp {
  0% {
    transform: scale(0);
  }
  100% {
    transoform: scale(1);
  }
}

/* Add_recipe */

.container-wide {
  background: white;
  border: 5px solid rgba(175, 144, 233, 0.952);
  padding: 20px 25px;
  margin-bottom: 20px;
}

                                      /* https://www.jquery-az.com/5-styles-materialize-checkbox-custom-checkedunchecked/ */

[type="checkbox"].filled-in:checked+label:not(.lever):after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #5e0101;
  background-color: #fc0000;
  z-index: 0;
}

/* nav ul li.active {
    background-color: rgba(175, 144, 233, 0.952);
    border: 1px solid rgba(175, 144, 233, 0.952);
  } */

/* nav.navbar-fixed {
  background: white;
  border: none;
  box-shadow: none;
  height: 70px;
}

.navbar-fixed .nav-wrapper {
  background: white;
  margin: 20px;
}

.navbar-fixed .nav-wrapper>ul>li>a {
  color: #faa61a;
}

.navbar-fixed .nav-wrapper>ul>li>a:hover {
  color: white;
}

.navbar-fixed .nav-wrapper>ul>li:hover {
  background-color: #faa61a;
}

.navbar-fixed .nav-wrapper .brand-logo img {
  height: 45px;
}

.navbar-fixed .nav-wrapper .button-collapse i {
  color: black;
} */

/* Flashed messages */

#alerts {
  /* position: absolute; */
  /* display: none; */
  /* min-height: 50px; */
  top: 95%;
  left: 0;
  z-index: 999;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background: blue;
  color: yellow;
}

/* Collection */

.collection .collection-item.avatar:not(.circle-clipper)>.circle, .collection .collection-item.avatar :not(.circle-clipper)>.circle {
  width: 120px;
  height: 120px;
}

/* Buttons (view and edit) in all_recipe view of each separate recipe */

.ngl {
  position: absolute;
  top: 55px;
  right: 7px;
}

.ngl2 {
  position: absolute;
  top: 110px;
  right: 7px;
}