<form action="{{ url_for('filter_recipes') }}" method="POST" class="filter-section input-field col s12">

  <!--                              ALLERGENS CHECKBOXES -->
  <div class="row z-depth-1" style="border:#cccccc solid 1px;">
    <div class="col l12 m12 s12">
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">warning</i><span class="red-text">Exclude some allergens</span></div>
          <div class="collapsible-body">
            <div class="row">
              {% for allergen in allergens %}
              <div class="col s5 offset-s1 l6">
                <p>
                  <label for="{{allergen.allergen_name}}">
                    <input type="checkbox" id="{{allergen.allergen_name}}" class="filled-in" name="allergens"
                      value="{{allergen.allergen_name}}">
                    <span>{{allergen.allergen_name}}</span>
                  </label>
                </p>
              </div>
              {% endfor %}
            </div>
          </div>
        </li>
      </ul>
    </div>
    <br>
    <!--                              CATEGORY FROM LIST -->
    <div class="input-field col xl6 l12 m6 s6">
      <!-- <i class="material-icons prefix">category</i> -->
      <select id="category" name="category">
        <option value="" disabled selected>by Categories</option>
        {% for category in categories %}
        <option value="{{category.category_name}}">{{category.category_name}}</option>
        {% endfor %}
      </select>
      <!-- <label>Filter by Categories</label> -->
    </div>

    <!--                                CUISINE FROM LIST -->
    <div class="input-field col xl6 l12 m6 s6">
      <!-- <i class="material-icons prefix">flag</i> -->
      <select id="cuisine" name="cuisine">
        <option value="" disabled selected>by Cuisines</option>
        {% for cuisine in cuisines %}
        <option value="{{cuisine.cuisine_name}}">{{cuisine.cuisine_name}}</option>
        {% endfor %}
      </select>
      <!-- <label>Filter by Cuisines</label> -->
    </div>
    <div class="filter row center-align">
      <button id="filter-button" class="btn waves-effect waves-light blue darken-4 z-depth-3" type="submit" name="action" disabled>Filter
        <i class="material-icons right">filter_list</i>
      </button>
    </div>


  </div>
  <!-- <br class="line-height-2"> -->

</form>