{% block content %}
<nav>
  <div class="nav-wrapper black">
    <a href="{{ url_for('index') }}" class="brand-logo center"><img src="..\static\images\logo2.png" width="195"
        height="auto" style="margin-top: -0.2rem"></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="{{ url_for('chart', count_key='author') }}"><i class="material-icons">show_chart</i></a></li>
      <li><a href="{{ url_for('get_recipes', limit=8, offset=0) }}">ALL RECIPES</a></li>
      {% if session.user %}
      <li><a href="{{ url_for('add_recipe') }}">ADD RECIPE</a></li>
      <li class="{% if 'profile' in request.path %} active {% endif %}"><a
          href="{{url_for('profile', user=session.user)}}"><i class="material-icons">person</i></a></li>
      <li><a href="{{url_for('logout')}}">Logout</a></li>
      {% if session.user == 'admin' %}
      <li class="{% if 'admin' in request.path and 'profile' not in request.path %} active {% endif %}"><a
          href="{{url_for('admin')}}">Admin</a></li>
      {% endif %}
      {% else %}
      <li class="{% if 'register' in request.path %} active {% endif %}"><a href="{{url_for('register')}}">Register</a>
      </li>
      <li class="{% if 'login' in request.path %} active {% endif %}"><a href="{{url_for('login')}}">Login</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

<!--  ########################  Navbar/mobile ###########################   -->
<ul class="sidenav" id="mobile-demo">
  <li><a href="{{ url_for('index') }}" class="brand-logo left"><img src="..\static\images\logo1.png" width="210"
        height="auto" style="margin-left: 2rem"></a></li>
  <li><a href="{{ url_for('chart', count_key='author') }}" style="margin-top: 8rem"><i class="material-icons">show_chart</i>CHARTS</a></li>
  <li><a href="{{ url_for('get_recipes', limit=8, offset=0) }}"><i
        class="material-icons">receipt</i>ALL RECIPES</a></li>
  {% if session.user %}
  <li><a href="{{ url_for('add_recipe') }}"><i class="material-icons">control_point</i>ADD RECIPE</a></li>
  <li class="{% if 'profile' in request.path %} active {% endif %}"><a
      href="{{url_for('profile', user=session.user)}}"><i class="material-icons">person</i>Profile:
      {{ session.user }}</a></li>
  <li><a href="{{url_for('logout')}}">Logout</a></li>
  {% if session.user == 'admin' %}
  <li class="{% if 'admin' in request.path and 'profile' not in request.path %} active {% endif %}"><a
      href="{{url_for('admin')}}">Admin</a></li>
  {% endif %}
  {% else %}
  <li class="{% if 'register' in request.path %} active {% endif %}"><a href="{{url_for('register')}}"><i
        class="material-icons">person_add</i>Register</a>
  </li>
  <li class="{% if 'login' in request.path %} active {% endif %}"><a href="{{url_for('login')}}"><i
        class="material-icons">person</i>Login</a></li>
  {% endif %}
</ul>

{% endblock %}