<form action="{{ url_for('search_recipes') }}" method="POST" class="search-section input-field col s12">
  <div class="row z-depth-1 border-white-1">
    <div class="input-field col xl6 l12 m6 s6">
      <input placeholder="in meal name" id="word_in_meal" name="word_in_meal" type="text" minlength="3" maxlength="20">
      <label for="word_in_meal">Search for word</label>
    </div>
    <div class="input-field col xl6 l12 m6 s6">
      <input placeholder="in ingredient" id="word_in_ingredient" name="word_in_ingredient" type="text" minlength="3"
        maxlength="20">
      <label for="word_in_ingredient">Search for word</label>
    </div>
    <div class="row center-align">
      <button id="search-button" class="btn waves-effect waves-light" type="submit" name="action" disabled><i
          class="material-icons right">search</i>Search</button>
    </div>
  </div>
</form>