<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="../static/images/favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
  <title>{{ title }}</title>
</head>

<body>
  <!--  ########################  Header /Navbar ###########################   -->
  <header>
    {% include '_navbar.html' %}
  </header>
  <!--  ########################  Flashed messages ###########################   -->
  <div id="alerts">
    <div id="messages">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <h4 class="center-align">{{ message }}</h4>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
  </div>
  <!--  ########################  Main content ###########################   -->
  <main>
    {% block main_content %} {% endblock %}
  </main>
  <!--  ########################  Footer ###########################   -->
  {% include '_footer.html' %}
  <!--  ########################  Scripts ###########################   -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  <script type="text/javascript">

    $(document).ready(function () {
      $('.sidenav').sidenav();
      $('select').formSelect();
      $('.modal').modal();
      $('.tabs').tabs();
      $('.materialboxed').materialbox();
      $('.collapsible').collapsible();
      
      $('#show').click(function () {
        $('.filterSearch').toggle("slide");
      });
    
    });
    $(".myClicableBox").click(function () {
      window.location = $(this).find("a").attr("href");
      return false;
    });
  </script>

</body>

</html>