{% extends "base.html" %}

{% block main_content %}

<div class="container-width750 z-depth-3">
  <div class="row">
    <form action="{{ url_for('filter_recipes') }}" method="POST" class="input-field col s12">

      <!--                              ALLERGENS CHECKBOXES -->
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">warning</i><span class="red-text flow-text">Allergy sufferers
              - enter HERE ...</span></div>
          <div class="collapsible-body">
            <div id="red-bottom" class="row">
              <div class="row">
                <div class="col center">
                  <span class="padded-from-left red-text"><strong> check allergens to EXCLUDE in results</strong></span>
                </div>
              </div>
              {% for allergen in allergens %}
              <div class="col s5 offset-s1 l3">
                <p>
                  <label for="{{allergen.allergen_name}}">
                    <input type="checkbox" id="{{allergen.allergen_name}}" class="filled-in" name="allergens"
                      value="{{allergen.allergen_name}}">
                    <span>{{allergen.allergen_name}}</span>
                  </label>
                </p>
              </div>
              {% endfor %}
            </div>
          </div>

        </li>
      </ul>

      <div class="row z-depth-1" style="border:#cccccc solid 1px;">
        <br>
        <!--                              CATEGORY FROM LIST -->
        <div class="input-field col m6 s12">
          <i class="material-icons prefix">category</i>
          <select id="category" name="category">
            <option value="" disabled selected>ALL Categories</option>
            {% for category in categories %}
            <option value="{{category.category_name}}">{{category.category_name}}</option>
            {% endfor %}
          </select>
          <label>Filter by Categories</label>
        </div>

        <!--                                CUISINE FROM LIST -->
        <div class="input-field col m6 s12">
          <i class="material-icons prefix">flag</i>
          <select id="cuisine" name="cuisine">
            <option value="" disabled selected>ALL Cuisines</option>
            {% for cuisine in cuisines %}
            <option value="{{cuisine.cuisine_name}}">{{cuisine.cuisine_name}}</option>
            {% endfor %}
          </select>
          <label>Filter by Cuisines</label>
        </div>
      </div>
      <br class="line-height-2">

      <div class="row center-align">
        <button class="btn btn-large waves-seffect waves-light blue darken-4 z-depth-3" type="submit"
          name="action">Filter
          <i class="material-icons right">filter_list</i>
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock main_content %}