{% extends "base.html" %} {% block main_content %}

<div class="slider">
  <ul class="slides">
    <li>
      <img alt="Kitchen Table" src="static/images/2.jpg" />
      <div class="caption center-align gray-background">
        <h4 class="white-text">Welcome to the CookBook!</h4>
        <br>
        <h6 class="light white-text flow-text">Kitchen rules:</h6>
        <br>
        <h6 class="light white-text flow-text">If it smells, throw it away</h6>
        <h6 class="light white-text flow-text">If it's dirty, wash it</h6>
        <h6 class="light white-text flow-text">If you get it out, put it away</h6>
        <h6 class="light white-text flow-text">If it's ON, turn it OFF</h6>
      </div>
    </li>
    <li>
      <img alt="Man and Woman preparing dish" src="static/images/3.jpg" />
      <div class="caption center-align gray-background">
          <h4 class="white-text">hungry</h4>
          <h6 class="light white-text flow-text">(adjective)</h6>
          <h6 class="light white-text flow-text">Describing a man who</h6>
          <h6 class="light white-text flow-text">makes jokes about</h6>
          <h6 class="light white-text flow-text">women in the kitchen.</h6>
      </div>
    </li>
    <li>
      <img alt="Restaurant table at dusk" src="static/images/4.jpg" />
      <div class="caption center-align gray-background">
          <h4 class="white-text">One cannot</h4>
          <h6 class="light white-text flow-text">think well</h6>
          <h6 class="light white-text flow-text">love well</h6>
          <h6 class="light white-text flow-text">sleep well</h6>
          <h6 class="light white-text flow-text">if one has not</h6>
          <h6 class="light white-text flow-text">dined well</h6>
      </div>
    </li>
  </ul>
</div>

{% endblock main_content %}
