{% extends "base.html" %} {% block main_content %}

<div class="slider">
  <ul class="slides">
    <li>
      <img src="static/images/2.jpg" />
      <div class="caption center-align gray-background">
        <h3 class="black-text">This is our big Tagline!</h3>
        <h5 class="light black-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="static/images/3.jpg" />
      <div class="caption left-align gray-background">
        <h3>Left Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="static/images/4.jpg" />
      <div class="caption right-align gray-background">
        <h3>Right Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
  </ul>
</div>

{% endblock main_content %}
