{% extends 'base.html' %} {% block main_content %}

<div class="row">
  <div class="center-align">
    <h3>Welcome {{ user.username }}</h3>
  </div>
  <div class="container-wide">
    {% if profile_user_recipes %}
    <ul class="collection with-header">
      <li class="collection-header center-align">
        <h5>Created Recipes</h5>
      </li>
      {% for recipe in profile_user_recipes %}
      <li class="collection-item avatar">
        <img src="{{recipe.photo}}" alt="{{recipe.meal}}" class="circle materialboxed">
        <span class="title"><a class="black-text"
            href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">{{ recipe.meal }}</a></span>
        <p><span>Views: {{ recipe.views }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Upvotes:
            {{ recipe.upvotes }}</span> </p>
        <!-- <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}" class="secondary-content"><i class="material-icons">edit</i></a> -->
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if upvoted_recipes %}
    <ul class="collection with-header">
      <li class="collection-header center-align">
        <h5>Liked Recipes</h5>
      </li>
      {% for recipe in upvoted_recipes %}
      <li class="collection-item avatar">
        <img src="{{recipe.photo}}" alt="{{recipe.meal}}" class="circle materialboxed">
        <span class="title"><a class="black-text"
            href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">{{ recipe.meal }}</a></span>
        <p><span>Views: {{ recipe.views }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Upvotes:
            {{ recipe.upvotes }}</span> </p>
        <!-- <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}" class="secondary-content"><i class="material-icons">edit</i></a> -->
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>


{% endblock main_content %}