<div class="col s6 m6 l3">
  <div class="card z-depth-3">


    <div class="card-image">
      <img src="{{recipe.photo}}" alt="{{recipe.meal}}" class="padded materialboxed" data-caption="{{ recipe.meal }}">
      <a class="btn-floating {% if recipe.upvotes > 99 %} btn-large {% endif %}halfway-fab orange lighten-4">
        <p id="upvotes" class="center-align halfway indigo-text"><i id="upvotes_icon"
            class="material-icons red-text">favorite</i>{{recipe.upvotes}}</p>
      </a>
    </div>


    <div class="padding-5px card-content">
      <h6 class="truncate card-title grey-text text-darken-4 center-align">
        {{recipe.meal}}
      </h6>
      <h6 class="truncate center-align"><small>Cuisine: </small><em>{{recipe.cuisine}}</em></h6>
      <h6 class="truncate center-align"><small>Category: </small><em>{{recipe.category}}</em></h6>
    </div>


    <div class="card-action myClicableBox waves-effect waves-block waves-light grey lighten-4">
      <div class="center-align">
        <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">view details</a>
      </div>
    </div>


  </div>
</div>