<ul class="collection z-depth-3">
    <li class="collection-item avatar" style="padding-left: 110px">
      <img src="{{recipe.photo}}" alt="{{recipe.meal}}" class="circle materialboxed">
      <h3 class="teal-text center-align"><a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">{{recipe.meal}}</a></h3>
      <span class="indigo-text" style="padding-left: 5rem">Cuisine: {{recipe.cuisine}}</span>
      <span class="light-blue-text" style="padding-left: 5rem">Author: {{recipe.author}}</span>
      <span class="orange-text" style="padding-left: 5rem">Category: {{recipe.category}}</span>
      <div class="row" style="padding-top: 10px">
        <div class="col s12 m4">
          <h5><i>Ingredients:</i></h5>
          {% for ingredient in recipe.ingredients %}
          <h6><strong>{{loop.index}}:</strong>&nbsp;&nbsp;{{ ingredient }}</h6>
          {% endfor %}
        </div>
        <div class="col s12 m4">
          <h5 class="red-text"><i>Allergens:</i></h5>
          {% for allergen in recipe.allergens %}
          <h6 class="red-text"><strong>{{loop.index}}:</strong>&nbsp;&nbsp;{{ allergen }}</h6>
          {% endfor %}
        </div>
        <div class="col s12 m4"s>
          <h5>Statistics:</h5>
          <br>
          <p>Views: {{ recipe.views }}</p>
          <br>
          <p>Upvotes: {{ recipe.upvotes }}</p>
          <br>
          <p>Upvoted by:</p>
          {% for who in recipe.upvotes_who %}
          <p><i>&nbsp;&nbsp;{{who}}</i></p>
          {% endfor %}

        </div>
      </div>
      <!-- RHS buttons -->
      <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}" title="View"
      class="ngl0 btn-floating waves-effect waves-light purple lighten-4"><i class="material-icons">zoom_in</i></a>
    </li>
  </ul>