{% extends 'base.html' %} {% block main_content %}

<div class="container">

  {% if count == 0 %}
  <h3 class="center-align">Sorry, we have no recipes matching criteria.</h3>
  <h3 class="center-align">Try another search.</h3>
  {% else %}
  <h6 class="left-align">Found&nbsp;{{ count }}
    {% if count > 1 %}
    recipes
    {% else %}
    recipe
    {% endif %}
    in DB.</h6>
  {% endif %}

  <ul class="pagination center-align">
    {% if p_offset > 0 %}
    <li class="waves-effect"><a href="{{ prev_url }}"><i class="material-icons">chevron_left</i></a></li>
    {% endif %}
    {% if (p_offset > 0) or (p_offset + p_limit <  count) %}
    <li class="line-height-2">
      page {{ ( p_offset // p_limit )  + 1 }} of
      {% if count % p_limit == 0 %}
      {{ (count // p_limit) }}
      {% else %}
      {{ ( count // p_limit) + 1 }}
      {% endif %}
    </li>
    {% endif %}
    {% if p_offset + p_limit <  count %}
    <li class="waves-effect"><a href="{{ next_url }}"><i class="material-icons">chevron_right</i></a></li>
    {% endif %}
  </ul>

  <div class="row">

    {% for recipe in recipes %}

    {% include "recipesTemplateCards.html"  %}

    {% endfor %}

  </div>

  {% if  (count - p_offset) > 4  %}
  <ul class="pagination center-align">
    {% if p_offset > 0 %}
    <li class="waves-effect"><a href="{{ prev_url }}"><i class="material-icons">chevron_left</i></a></li>
    {% endif %}

    {% if p_offset + p_limit <  count %}
    <li class="waves-effect"><a href="{{ next_url }}"><i class="material-icons">chevron_right</i></a></li>
    {% endif %}
  </ul>
  {% endif %}

  {% endblock main_content %}