

  <!--TO BE FINISHED -->


{% extends 'base.html' %} {% block content %}


<div class="col s12 m6 l4">
  <div class="card horizontal z-depth-3">
      <div class="card-image">
          <img src="{{recipe.photo}}">
      </div>
      <div class="card-stacked">
          <div class="card-content">
              <h4 class="header">{{recipe.meal}}</h2>
                  <p>{{recipe.instructions}}</p>
          </div>
          <div class="card-content">
              <h4 class="header">Ingredients</h2>
                {% for ingredient in recipe.ingredients %}
                  <p>{{ingredient}}</p>
                {% endfor %}
          </div>
          <div class="card-action">
              <a href="#">Edit</a>
          </div>
      </div>
  </div>
</div>

{% endblock content%}