{% extends "base.html" %}

{% block main_content %}

<div class="container-wide z-depth-3">
  <div class="row">
    <form action="{{ url_for('search_recipes') }}" method="POST" class="input-field col s12">

      <!--                              ALLERGENS CHECKBOXES -->
      <div class="row">
        <div class="row">
          <div class="col">
            <i class="small material-icons prefix">warning</i>
            <span class="padded-from-left red-text"><strong> AVOID FOLLOWING ALLERGENS in results</strong></span>
          </div>
        </div>
        <div class="col offset-s2">
          {% for allergen in allergens %}
          <div class="col s12 m6">
            <input name="allergens" value="{{allergen.allergen_name}}" type="checkbox" class="filled-in" id="{{allergen.allergen_name}}" />
            <label for="{{allergen.allergen_name}}">{{allergen.allergen_name}}</label>
          </div>
          {% endfor %}
        </div>
      </div>
      <!--                              TODO SEARCH WORD IN MEAL NAME -->
      <!--                              TODO SEARCH WORD IN INGREDIENTS -->


      <!--                              CATEGORY FROM LIST -->
      <div class="input-field col m6 s12">
        <i class="material-icons prefix">category</i>
        <select id="category" name="category">
          <option value="" disabled selected>ALL Categories</option>
          {% for category in categories %}
          <option value="{{category.category_name}}">{{category.category_name}}</option>
          {% endfor %}
        </select>
        <label>Search in Categories</label>
      </div>

      <!--                                CUISINE FROM LIST -->
      <div class="input-field col m6 s12">
        <i class="material-icons prefix">flag</i>
        <select id="cuisine" name="cuisine">
          <option value="" disabled selected>ALL Cuisines</option>
          {% for cuisine in cuisines %}
          <option value="{{cuisine.cuisine_name}}">{{cuisine.cuisine_name}}</option>
          {% endfor %}
        </select>
        <label>Search in Cuisines</label>
      </div>

      <div class="row center-align">
        <button class="btn btn-large waves-seffect waves-light blue darken-4 z-depth-3" type="submit"
          name="action">Search
          <i class="material-icons right">search</i>
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock main_content %}