{% extends "base.html" %}

{% block main_content %}

<div class="container-wide z-depth-3">
  <div class="row">
    <form action="{{ url_for('search_recipes') }}" method="POST" class="input-field col s12">
      <div class="input-field col s12">
        <i class="material-icons prefix">local_dining</i>
        <input id="icon_prefix" type="text" class="validate" disabled>
        <label for="icon_prefix">search by meal name</label>
      </div>
      
      <div class="input-field col s12">
        <i class="material-icons prefix">category</i>
        <select id="category" name="category">
          <option value="" disabled selected>Choose Category</option>
          {% for category in categories %}
          <option value="{{category.category_name}}">{{category.category_name}}</option>
          {% endfor %}
        </select>
        <label>Search in Categories</label>
      </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">flag</i>
        <select id="cuisine" name="cuisine">
          <option value="" disabled selected>Choose Cuisine</option>
          {% for cuisine in cuisines %}
          <option value="{{cuisine.cuisine_name}}">{{cuisine.cuisine_name}}</option>
          {% endfor %}
        </select>
        <label>Search in Cuisines</label>
      </div>
      
      <div class="row right-align">
        <button class="btn btn-large waves-seffect waves-light grey darken-4 z-depth-3" type="submit"
          name="action">Search
          <i class="material-icons right">search</i>
        </button>
      </div>
    </form>
  </div>


  <div class="row">
    <!-- {{ recipes }} -->
    <h6>Found <strong>{{ recipes|length }}</strong> recipe(s) for {{ filters|length }} filter(s) such as {{ filters }}.</h6>
    <hr>
    {% for x in recipes %}
    {{x}}
    <hr>
    {% endfor %}
  </div>
</div>

{% endblock main_content %}