{% extends "base.html" %}

{% block main_content %}

<div class="container-wide z-depth-3">
  <div class="row">
    <form action="{{ url_for('search_recipes') }}" method="POST" class="input-field col s12">
      <div class="input-field col s12">
        <i class="material-icons prefix">local_dining</i>
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">search by meal name</label>
      </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">flag</i>
        <select multiple id="cuisine" name="cuisine">
          <option value="" disabled selected>... OR clause ...</option>
          {% for cuis in cuisine %}
          <option value="{{cuis.cuisine_name}}">{{cuis.cuisine_name}}</option>
          {% endfor %}
        </select>
        <label>Search for Cuisine</label>
      </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">category</i>
        <select multiple id="category" name="category">
          <option value="" disabled selected>... OR clause ...</option>
          {% for categ in category %}
          <option value="{{categ.category_name}}">{{categ.category_name}}</option>
          {% endfor %}
        </select>
        <label>Search for Category</label>
      </div>

      <div class="row right-align">
        <button class="btn btn-large waves-seffect waves-light grey darken-4 z-depth-3" type="submit"
          name="action">Search
          <i class="material-icons right">search</i>
        </button>
      </div>
    </form>
  </div>


  <div class="row">
    <!-- {{ recipes }} -->
    Found {{ recipes|length }} recipes:
    <hr>
    {% for x in recipes %}
    {{x}}
    <hr>
    {% endfor %}
  </div>
</div>

{% endblock main_content %}